# Application
web/app/fonts/*
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/amazon-s3-and-cloudfront-tweaks/
!web/app/plugins/custom-phpmailer/
web/app/themes/*
!web/app/themes/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Custom
/composer.lock
/tmp/*

/env
/env-*

/composer/dl/

# w3tc
/web/app/advanced-cache.php
/web/app/db.php
/web/app/debug.log
/web/app/cache/
/web/app/object-cache.php
/web/app/w3tc-config/

# ewww
/web/app/ewww